@font-face {
    font-family: 'TestFinancierDisplay';
    src: url('/fonts/TestFinancierDisplay/TestFinancierDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TestFinancierDisplay';
    src: url('/fonts/TestFinancierDisplay/TestFinancierDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TestMetric';
    src: url('/fonts/TestMetric/TestMetric-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TestFinancierDisplay', serif;
    text-align: center;
    background-color: #f3e2d9;
}

.hidden {
    display: none;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.selected {
    background-color: #990F3D;
    color: #f3e2d9;
}

p, button {
    font-family: 'Georgia', serif;
}

h3 {
    color: #990F3D;
    font-family: 'TestMetric', sans-serif;
}

h2 {
    font-weight: bold;
}
